@charset "utf-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* color 
highlight:#099 sub1:#f36422 sub2:#0072bc sub3:#85c440 line1:#aaa line2:#ccc footerLine:#e5e5e5
*/

/* Reset */
* {margin: 0;padding: 0}
a {text-decoration: none;font:inherit;color:inherit;}
ul, ol {list-style: none}

/* Common */
body * {font-family: Arial, 'Noto Sans KR', sans-serif;font-weight: normal;font-size: inherit}
img, button {display: block}
button {border: none;background: none;font:inherit;cursor: pointer}
video {width: 100%;}
nav, .search_wrap, .news_wrap img, .mo_br, .depth_2, .mo_blind, .business_wrap h3 span {display: none}

.container {margin: 0 auto;}
.clearfix:after {content:'';display: block;clear: both;}
.skip_nav a {position: absolute;left: 0;right: 0;top: -60px;z-index: 999;background-color: #099;line-height: 60px;text-align: center;font-size: 20px;color:#FFF}
.skip_nav a:focus {top:0}
.blind {overflow: hidden;width: 0;height: 0;font-size: 0}
section {padding-top: 64px;}

.swiper-button-prev {bottom: -300px;}

/* header */
#gnb b {font-weight: bold}
#header {position: absolute;left: 0;right: 0;z-index: 99;}
#header .search_btn {background-image: url(../img/sprite.png)}
#header h1 {float: left;}
#header .util {float: right;}
#header .util>* {float: right;}

.main_visual {overflow: hidden;position: relative;height: 830px;background: url(../img/video_thumb.jpg) top center no-repeat;}
.main_visual video {display: block;position: absolute;top:0;min-width:1600px;}
.main_visual .visual_txt {position: absolute;top: 200px;color: #FFF;}
.main_visual .visual_txt p:nth-child(1) {font-size: 60px;margin-bottom: 60px;line-height: 72px;font-weight: bold;}
.main_visual .visual_txt p:nth-child(2) {font-size: 26px;line-height: 36px;}

.quick_wrap {background-image:linear-gradient(to right,#00ab75,#0072bc);}
.quick_wrap li {float: left;width: 25%;}
.quick_wrap a {display: block;box-sizing: border-box;height: 140px;padding: 26px 0;text-align: center;font-size: 18px;color: #FFF;}
.quick_wrap span {display: block;font-weight: 500;}
.quick_wrap a:before {content:'';display: inline-block;width: 60px;height: 60px;background-image:url(../img/sprite.png);background-size:200px 300px;}
.quick_wrap li:nth-child(2) a:before {background-position: 0 -80px;transform:translateX(5px)}
.quick_wrap li:nth-child(3) a:before {background-position: 0 -160px;}
.quick_wrap li:nth-child(4) a:before {background-position: 0 -240px;}

.business_wrap, .management_wrap {text-align: center;}
.business_wrap h2, .management_wrap h2 {margin-bottom: 8px;font-size: 40px;font-weight: bold;}
.business_wrap h2 span, .management_wrap h2 span {display: block;margin-bottom: 1px;font-size: 16px;font-weight: bold;color: #099;}
.business_wrap h2+p, .management_wrap h2+p {margin-bottom: 30px;font-size: 20px;white-space: nowrap;}
.business_wrap .business .busi_title {color: #FFF;}
.business_wrap .business>li:nth-child(1) .busi_title {background:#f36422}
.business_wrap .business>li:nth-child(2) .busi_title {background:#0072bc}
.business_wrap .business>li:nth-child(3) .busi_title {background:#85c440}
.business_wrap .busi_img {padding-top: 67.28395061%;background-size: cover;background-repeat: no-repeat}
.business_wrap .business>li:nth-child(1) .busi_img {background-image:url(../img/gs_global.jpg)}
.business_wrap .business>li:nth-child(2) .busi_img {background-image:url(../img/gs_caltex.jpg)}
.business_wrap .business>li:nth-child(3) .busi_img {background-image:url(../img/gs_construct.jpg)}

/* PC */
@media all and (min-width:1197px) {
  .mo_busi_paging, .btns {display: none;}
  .container {width: 1196px;}

  #header {text-align: center;}
  #header * [class*=mo_] {display: none;}
  #header #gnb {vertical-align: top;}
  #header h1 {margin-top: 19px;}
  #header h1 a {display: block;}
  #header h1 img {width: 80px;height: 42px}
  #header .search_btn {width: 20px;height: 20px;margin:30px 46px 0 0;background-position:-240px -119px}
  #header .pc_lang_area {overflow: hidden;position: relative;width: 63px;height: 28px;margin-top: 26px;border: 1px solid #FFF;text-transform: uppercase;font-size: 14px;color: #FFF;cursor: pointer;}
  #header .pc_lang_area ul {position: absolute;top: 0;}
  #header .pc_lang_area li a {display: block;width: 61px;margin-top: 0;line-height: 26px;text-align: center;}
  #header nav {display: inline-block;}
  
  #gnb {display: inline-block;}
  #gnb li {float: left;}
  #gnb li>a {display: block;width: 160px;line-height: 80px;color: #FFF;}

  .main_visual {background-position: top -200px left}
  .main_visual video {top:-8%}
  .quick_wrap li:hover a {background-color: #07a;}

  .business_wrap .mo_blind, .business_wrap h3 span {display: block;}
  .business_wrap .business>li {float: left;width: 372px;margin-right: 40px;}
  .business_wrap .business>li:last-child {margin-right: 0;}
  .business_wrap .business>li .busi_img {width: 100%;height: 250px;padding-top: 0;}
  

}
/* Tablet */
@media all and (min-width:721px) and (max-width:1196px) {
  .container {width:90%}

  #header {height: 92px;}
  #header h1 {margin-top: 20px;}
  #header h1 a {display: block;width: 100px;height: 52px}
  #header .util {margin-top: 28px;}
  #header .search_btn {width: 36px;height: 36px;margin-right: 66px;background-position: -240px -210px}
  #header .pc_lang_area {display: none;}
  #header .mo_gnb_btn span {display: block;width: 48px;height: 6px;margin-bottom: 9px}
  #header .mo_gnb_btn span.top {background: #f36422}
  #header .mo_gnb_btn span.mid {background: #0072bc}
  #header .mo_gnb_btn span.btm {margin-bottom: 0;background: #85c440}

  .main_visual {height: 816px;background-position: top -200px left -202px;}
  .main_visual video {left: -300px;top:-80px;min-width:1600px}

  .swiper-container {width: 100%;}
}
/* Mobile */
@media all and (max-width:720px) {
  .mo_br {display: inline;}
  .container {width:90%}
  section {padding-top: 0;}

  #header {height: 92px;}
  #header h1 {margin-top: 10px;}
  #header h1 a {display: block;width: 100px;height: 52px}
  #header h1 img {width: 56px;height: 30px}
  #header .util {margin-top: 14px;}
  #header .search_btn {width: 18px;height: 18px;margin-right: 33px;background-position: -120px -105px;background-size:150px 225px}
  #header .pc_lang_area {display: none;}
  #header .mo_gnb_btn span {display: block;width: 24px;height: 3px;margin-bottom: 5px;}
  #header .mo_gnb_btn span.top {background: #f36422}
  #header .mo_gnb_btn span.mid {background: #0072bc}
  #header .mo_gnb_btn span.btm {margin-bottom: 0;background: #85c440}
  
  .main_visual {height: 500px;background-position: top -200px left -440px;}
  .main_visual video {min-width: 1100px;left: -300px;top:-80px;}
  .main_visual .visual_txt {top:150px}
  .main_visual .visual_txt p:nth-child(1) {font-size: 30px;margin-bottom: 30px;line-height: 36px;}
  .main_visual .visual_txt p:nth-child(2) {font-size: 14px;line-height: 18px;}

  .quick_wrap a {height: 100px;padding: 17px 0;font-size: 12px;}
  .quick_wrap a:before {width: 45px;height: 45px;margin-bottom: 3px;background-size:150px 225px;}
  .quick_wrap li:nth-child(2) a:before {background-position: 0 -60px;transform:translateX(4px)}
  .quick_wrap li:nth-child(3) a:before {background-position: 0 -120px;}
  .quick_wrap li:nth-child(4) a:before {background-position: 0 -180px;}

  .business_wrap {padding-top: 32px;}
  .business_wrap img {opacity: 0;}
  .business_wrap h2, .management_wrap h2 {font-size: 30px;}
  .business_wrap h2 span, .management_wrap h2 span {font-size: 12px;}
  .business_wrap h2+p, .management_wrap h2+p {margin-bottom: 20px;font-size: 16px;}
  .business_wrap .business>li {margin-bottom: 30px;}
  .business_wrap .busi_img {padding-top: 67.28395061%;}
  .business_wrap h3 {line-height: 54px;font-size: 20px;font-weight: bold;color: #FFF;}
  .business_wrap .busi_fam {border: 1px solid #ccc;border-top: none;}
  .business_wrap .busi_fam li {float: left;width: 50%;}
  .business_wrap .busi_fam li a {display: block;width: 100%;font-size: 16px;line-height: 50px;}
  .business_wrap .busi_fam li a:before {content:'';display: inline-block;vertical-align: 5px;width: 3px;height: 3px;margin-right: 5px;}
  .business_wrap .business>li:nth-child(1) .busi_fam li a:before {background-color: #f36422;}
  .business_wrap .business>li:nth-child(2) .busi_fam li a:before {background-color: #0072bc;}
  .business_wrap .business>li:nth-child(3) .busi_fam li a:before {background-color: #85c440;}
}
