@charset "utf-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* color 
highlight:#099 sub1:#f36422 sub2:#0072bc sub3:#85c440 line1:#aaa line2:#ccc footerLine:#e5e5e5
*/

/* Reset */
* {margin: 0;padding: 0}
a {text-decoration: none;font:inherit;color:inherit;}
ul, ol {list-style: none}

/* Common */
body * {font-family: Arial, 'Noto Sans KR', sans-serif;font-weight: normal;font-size: inherit}
img, button, a {display: block}
button {border: none;background: none;font:inherit;cursor: pointer}
video {width: 100%;}
nav, .search_wrap, .news_wrap img, .mo_br, .depth_2, .mo_blind, .business_wrap h3 span {display: none}
.clearfix:after {content:'';display: block;clear: both;}

.container {margin: 0 auto;}
section {padding-top: 64px;}
.skip_nav a {position: absolute;left: 0;right: 0;top: -60px;z-index: 999;background-color: #099;line-height: 60px;text-align: center;font-size: 20px;color:#FFF}
.skip_nav a:focus {top:0}
.blind {overflow: hidden;width: 0;height: 0;font-size: 0}
img[src*=transparent] {display: block;width: 0;height: 0;font-size: 0;opacity: 0;}
i {display: none;}

/* header */
#gnb b {font-weight: bold}
#header {position: absolute;left: 0;right: 0;z-index: 99;}
#header .search_btn {background-image: url(../img/sprite.png)}
#header h1 {float: left;}
#header .util {float: right;}
#header .util>* {float: right;}

.main_visual {overflow: hidden;position: relative;background: url(../img/video_thumb.jpg) top center no-repeat;}
.main_visual video {display: block;position: absolute;top:50%;left: 50%;transform:translate(-50%, -50%)}
.main_visual .visual_txt {position: absolute;top:25%;left: 50%;transform:translateX(-50%);width: 100%;color: #FFF}
.main_visual .visual_txt p:nth-child(1) {font-size: 60px;margin-bottom: 60px;line-height: 72px;font-weight: bold;}
.main_visual .visual_txt p:nth-child(2) {font-size: 26px;line-height: 36px;}

.quick_wrap {background-image:linear-gradient(to right,#00ab75,#0072bc);}
.quick_wrap li {float: left;width: 25%;}
.quick_wrap a {box-sizing: border-box;height: 140px;padding: 26px 0;text-align: center;font-size: 18px;color: #FFF;}
.quick_wrap span {display: block;font-weight: 500;}
.quick_wrap a:before {content:'';display: inline-block;width: 60px;height: 60px;background-image:url(../img/sprite.png);background-size:200px 400px;}
.quick_wrap li:nth-child(2) a:before {background-position: 0 -80px;transform:translateX(5px)}
.quick_wrap li:nth-child(3) a:before {background-position: 0 -160px;}
.quick_wrap li:nth-child(4) a:before {background-position: 0 -240px;}

.business_wrap h2, .manage_wrap h2 {margin-bottom: 8px;font-size: 40px;font-weight: bold;text-align: center;}
.business_wrap h2 span, .manage_wrap h2 span, .news_wrap h2 span {display: block;margin-bottom: 1px;font-size: 16px;font-weight: bold;color: #099;}
.business_wrap h2+p, .manage_wrap h2+p {margin-bottom: 30px;font-size: 20px;white-space: nowrap;text-align: center;}
.business_wrap h3 {font-weight: bold;color: #FFF}

.business_wrap .business>li:nth-child(1) .busi_title {background:#f36422}
.business_wrap .business>li:nth-child(2) .busi_title {background:#0072bc}
.business_wrap .business>li:nth-child(3) .busi_title {background:#85c440}
.business_wrap .busi_img {padding-top: 67.28395061%;background-size: cover;background-repeat: no-repeat}
.business_wrap .business>li:nth-child(1) .busi_img {background-image:url(../img/gs_global.jpg)}
.business_wrap .business>li:nth-child(2) .busi_img {background-image:url(../img/gs_caltex.jpg)}
.business_wrap .business>li:nth-child(3) .busi_img {background-image:url(../img/gs_construct.jpg)}
.business_wrap .business>li:last-child {margin-right: 0;}

.manage_wrap {padding-bottom: 70px;}
.manage_wrap .manage_slider {display: flex;justify-content: space-between;}
.manage_wrap .mng_img {display: none;}

.manage_wrap .slide {position: relative;padding-top: 100%;}
.manage_wrap a {position: absolute;left: 0;right: 0;top: 0;bottom: 0;border: 1px solid #099;}
.manage_wrap .mng_title {position: absolute;left: 0;right: 0;top: 50%;text-align: center;white-space: nowrap;}
.manage_wrap .mng_title h3 {margin-bottom: 26px;font-size: 30px;line-height: 30px;}
.manage_wrap .mng_title p {line-height: 16px;}

.manage_wrap .slide a:before {content:'';display: block;position: absolute;left: 50%;top: 15%;transform:translateX(-50%);width: 80px;height: 80px;background-image: url(../img/sprite.png);background-position: -100px 0;}
.manage_wrap .slide2 a:before {background-position: -100px -90px;}
.manage_wrap .slide3 a:before {background-position: -100px -180px;}
.manage_wrap .slide4 a:before {background-position: -100px -270px;}
.manage_wrap .slide5 a:before {background-position: -100px -360px;}

.manage_wrap .slide .mng_img {background-size: cover;}
.manage_wrap .slide1 .mng_img {background-image: url(../img/manage_01.jpg);}
.manage_wrap .slide2 .mng_img {background-image: url(../img/manage_02.jpg);}
.manage_wrap .slide3 .mng_img {background-image: url(../img/manage_03.jpg);}
.manage_wrap .slide4 .mng_img {background-image: url(../img/manage_04.jpg);}
.manage_wrap .slide5 .mng_img {background-image: url(../img/manage_05.jpg);}

.manage_wrap .slick-list {overflow: hidden;margin: 0 -10px;}
.manage_wrap .slick-slide {margin: 0 10px;}

.slick-arrow, .slick-dots {font-size: 0;color: transparent;}
.manage_wrap .slick-dots li {margin:0 10px}
.manage_wrap .slick-dots {display: flex;position: absolute;left: 50%;bottom:-70px;transform:translateX(-50%)}
.manage_wrap .slick-dots button {width: 10px;height: 10px;border-radius:50%;background: #CCC;}
.manage_wrap .slick-dots .slick-active button {background: #099}

/* PC */
@media all and (min-width:1197px) {
  .mo_busi_paging, .btns {display: none;}
  .container {width: 1196px;}

  #header {text-align: center;}
  #header * [class*=mo_] {display: none;}
  #header #gnb {vertical-align: top;}
  #header h1 {margin-top: 19px;}
  #header h1 a {display: block;}
  #header h1 img {width: 80px;height: 42px}
  #header .search_btn {width: 20px;height: 20px;margin:30px 46px 0 0;background-position:-240px -120px}
  #header .pc_lang_area {overflow: hidden;position: relative;box-sizing:border-box;width: 63px;height: 28px;margin-top: 26px;border: 1px solid #FFF;text-transform: uppercase;font-size: 14px;color: #FFF;cursor: pointer;}
  #header .pc_lang_area ul {position: absolute;left: 0;right: 0;top: 0;}
  #header .pc_lang_area li a {display: block;margin-top: 0;line-height: 26px;text-align: center;}
  #header nav {display: inline-block;}
  
  #gnb {display: inline-block;}
  #gnb li {float: left;}
  #gnb li>a {display: block;width: 160px;line-height: 80px;color: #FFF;}

  .main_visual {padding-top: 43.22916666%;}
  .quick_wrap li:hover a {background-color: #07a}

  .business_wrap .mo_blind, .business_wrap h3 span {display: block}
  .business_wrap .business>li {float: left;width: 372px;margin-right: 40px}
  .business_wrap .business>li .busi_img {width: 100%;height: 250px;padding-top: 0}

  .business_wrap .busi_title {display: flex;justify-content: center;width: 372px;background-color: #f36422;}
  .business_wrap .busi_title:before {content:'';display: block;width: 60px;height: 60px;align-self:center;background-image:url(../img/sprite.png);}
  .business_wrap h3 {display: flex;flex-direction:column;justify-content:center;box-sizing:border-box;margin-left: 24px;padding: 18px 0;font-size: 24px;text-align: center;}
  .business_wrap .business li:nth-child(1) .busi_title:before {background-position: 0 -470px;}
  .business_wrap .business li:nth-child(2) .busi_title:before {background-position: -70px -470px;}
  .business_wrap .business li:nth-child(3) .busi_title:before {background-position: -140px -470px;}
  .business_wrap .business .busi_title h3 span {font-weight: 300;font-size: 20px;}
  .business_wrap .busi_fam {display: flex;justify-content:space-around;margin-bottom: 25px;border-bottom: 1px solid #ccc;}
  .business_wrap .busi_fam li a {line-height: 71px;font-size: 18px;}
  .business_wrap .business p {box-sizing:border-box;text-align: left;padding: 0 10px;}

  .manage_wrap {padding-bottom: 70px;}
  .manage_wrap .mng_title {position: absolute;left: 0;right: 0;bottom: 34px;box-sizing:border-box;text-align: center;transition:all 0.4s}
  .manage_wrap .mng_title h3 {margin-bottom: 26px;line-height: 30px;}
  .manage_wrap .mng_title p {line-height: 16px;}
  .manage_wrap .mng_img {display: block;width: 100%;height: 230px;padding: 0;transform:scale(1);transition:all 0.3s}
  .manage_wrap .pc_gs {display: block;}
  .manage_wrap a {border: 1px solid #ccc;}

  .manage_wrap .slide a:before {transform:translateX(-50%) scale(0);transition: all 0.4s;transition-delay: 0.2s;}
  .manage_wrap .slide i {display: block;position: absolute;top: 20px;right: 20px;width: 21px;height: 21px;opacity: 0;transition:opacity 1s, transform 1s;}
  .manage_wrap .slide i:before {content:'';display: block;position: absolute;right: 0;top: 10px;width: 21px;height: 1px;background: #099;}
  .manage_wrap .slide i:after {content:'';display: block;position: absolute;right: 10px;top: 0;width: 1px;height: 21px;background: #099;}

  .manage_wrap .slide:hover .mng_img {opacity: 0;}
  .manage_wrap .slide:hover .mng_title {border: none;bottom: 90px;padding: 33px 0;}
  .manage_wrap .slide:hover i {opacity: 1;transform:rotate(360deg);}
  .manage_wrap .slide:hover a {box-sizing:border-box;border: 1px solid #099;}
  .manage_wrap .slide:hover a:before {transform:translateX(-50%) scale(1);}

  .manage_wrap .slick-list {margin: 0 -20px;}
  .manage_wrap .slick-slide {margin: 0 20px;}

  .manage_wrap .slick-arrow {position: absolute;width: 20px;height: 38px;top: 50%;transform:translateY(-50%);background-image: url(../img/sprite.png);}
  .manage_wrap .slick-prev {left: -50px;background-position: -200px -48px;}
  .manage_wrap .slick-next {right: -50px;background-position: -200px 0;}
}
/* Tablet */
@media all and (min-width:721px) and (max-width:1196px) {
  .container {width:94%}

  #header {height: 92px;}
  #header h1 {margin-top: 20px;}
  #header h1 a {display: block;width: 100px;height: 52px}
  #header .util {margin-top: 28px;}
  #header .search_btn {width: 36px;height: 36px;margin-right: 66px;background-position: -240px -210px}
  #header .pc_lang_area {display: none;}
  #header .mo_gnb_btn span {display: block;width: 48px;height: 6px;margin-bottom: 9px}
  #header .mo_gnb_btn span.top {background: #f36422}
  #header .mo_gnb_btn span.mid {background: #0072bc}
  #header .mo_gnb_btn span.btm {margin-bottom: 0;background: #85c440}

  .main_visual {padding-top: 80%;}
  .main_visual video {width: auto;height: 100%;}

  .quick_wrap a {font-size: 20px;}
  
  .business_wrap .business>li {float: left;width: calc(33.33333333% - 2%);margin-right: 3%;}
  .business_wrap h3 {position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);font-size: 22px;white-space: nowrap;}
  .business_wrap .busi_title {position: relative;left: 0;right: 0;padding-top: 14.72222222%;min-height:20px;}
  .business_wrap .busi_fam {display: flex;flex-flow:row wrap;border: 1px solid #ccc;border-top: none;}
  .business_wrap .busi_fam li {width: 50%;}
  .business_wrap .busi_fam li a {position: relative;padding-top: 50%;}
  .business_wrap .busi_fam li span {display: inline-block;line-height: 20px;position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);font-size: 18px;white-space: nowrap;}
  
  .manage_wrap .mng_title {position: absolute;bottom: 30%;}
}
/* Mobile */
@media all and (max-width:720px) {
  .mo_br {display: inline;}
  .container {width:90%}
  section {padding-top: 0;}

  #header {height: 92px;}
  #header h1 {margin-top: 10px;}
  #header h1 a {display: block;width: 100px;height: 52px}
  #header h1 img {width: 56px;height: 30px}
  #header .util {margin-top: 14px;}
  #header .search_btn {width: 18px;height: 18px;margin-right: 33px;background-position: -120px -105px;background-size:150px 225px}
  #header .pc_lang_area {display: none;}
  #header .mo_gnb_btn span {display: block;width: 24px;height: 3px;margin-bottom: 5px;}
  #header .mo_gnb_btn span.top {background: #f36422}
  #header .mo_gnb_btn span.mid {background: #0072bc}
  #header .mo_gnb_btn span.btm {margin-bottom: 0;background: #85c440}
  
  .main_visual {padding-top: 120%;}
  .main_visual video {width: auto;height: 100%;}
  .main_visual .visual_txt {}
  .main_visual .visual_txt p:nth-child(1) {font-size: 40px;margin-bottom: 30px;line-height: 50px;}
  .main_visual .visual_txt p:nth-child(2) {font-size: 20px;line-height: 28px;}

  .quick_wrap a {height: 100px;padding: 15px 0;font-size: 16px;}
  .quick_wrap a:before {width: 45px;height: 45px;margin-bottom: 0;background-size:150px 300px;}
  .quick_wrap li:nth-child(2) a:before {background-position: 0 -60px;transform:translateX(4px)}
  .quick_wrap li:nth-child(3) a:before {background-position: 0 -120px;}
  .quick_wrap li:nth-child(4) a:before {background-position: 0 -180px;}

  .business_wrap {padding-top: 32px;}
  .business_wrap img {opacity: 0;}
  .business_wrap h2, .manage_wrap h2 {font-size: 36px;}
  .business_wrap h2 span, .manage_wrap h2 span {font-size: 14px;}
  .business_wrap h2+p, .manage_wrap h2+p {margin-bottom: 20px;font-size: 18px;}
  .business_wrap .business>li {margin-bottom: 30px;}
  .business_wrap .busi_img {padding-top: 67.28395061%;}
  .business_wrap .busi_title {position: relative;left: 0;right: 0;padding-top: 20%;}
  .business_wrap h3 {position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);font-size: 24px;white-space: nowrap;}
  .business_wrap .busi_fam {display: flex;flex-flow:row wrap;border: 1px solid #ccc;border-top: none;}
  .business_wrap .busi_fam li {width: 50%;}
  .business_wrap .busi_fam li a {position: relative;padding-top: 36%;}/*30.95975232%*/
  .business_wrap .busi_fam li span {display: inline-block;line-height: 20px;position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);font-size: 18px;white-space: nowrap}
  .business_wrap .busi_fam li span:before {content:'';display: block;position: absolute;left: -12%;top: 50%;transform:translateY(-75%);width: 4px;height: 4px;background-color: #f36422;}
  .business_wrap .business>li:nth-child(1) .busi_fam li span:before {background-color: #f36422;}
  .business_wrap .business>li:nth-child(2) .busi_fam li span:before {background-color: #0072bc;}
  .business_wrap .business>li:nth-child(3) .busi_fam li span:before {background-color: #85c440;}

  .manage_wrap .slide a {padding: 0;}
  .manage_wrap .slide {padding-top: 100%;}
  .manage_wrap .slide h3 {font-size: 30px;}

  .manage_wrap .slick-dots {bottom: 40px;}
}
